@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ya existentes */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1.5rem));
  }
}

.animation-direction-reverse {
  animation-direction: reverse;
}

.animation-play-state-paused {
  animation-play-state: paused;
}

@keyframes borderColors {
  0% {
    border-color: #3b82f6; /* azul */
  }
  25% {
    border-color: #ec4899; /* rosa */
  }
  50% {
    border-color: #8b5cf6; /* morado */
  }
  75% {
    border-color: #10b981; /* verde */
  }
  100% {
    border-color: #3b82f6;
  }
}

.border-animated {
  border-style: solid;
  border-width: 6px; /* un poco más grueso */
  border-radius: 1rem; /* bordes redondeados, como tienes en el div */
  animation: borderColors 6s linear infinite;
  box-sizing: border-box;
}

@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdownFadeIn {
  animation: dropdownFadeIn 0.25s ease forwards;
}

